<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>toDo | 注册页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
		<link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
	</head>
	<body>
		<div id="app">
			用户名:<input type="text" v-model="username" />
		
		密码:<input type="password" v-model="password" />
		
		<input type="button" @click="register"  value="注册"/>
		<input type="button" @click="toLogin"  value="不了,直接去登陆"/>
		
		<!--控制台:username:{{username}}  password:{{password}}-->
			
			 
		</div>
		
		
	</body>
	
	
	
	<script>
		var app=new Vue({
		"el":"#app",
		data:{
			username:'',
			password:''
		},
		methods:{
			register : function(){
//				mui.toast('你点了登陆按钮')
				if(!this.validate()){
					return   //如果用户名和密码 校验不通过的时候 我们不往下执行  login  登陆方法
				}

				mui.ajax({
				url : 'http://localhost:8888/user/register' ,
              type : 'post',
              headers: {
                 'Content-Type': 'application/json'
            },
              data : { 
              	"username":this.username,
              	"password":this.password
              }, 
              timeout : 1000000,
              success : function(data){
              	
//            	mui.toast(data.tip)
//            	mui.toast('前端的返回状态码：'+data.status)
				if(data.status==0){
					mui.toast('注册成功,3秒跳转到登陆页...')
					setTimeout(function(){ window.location.href="login.html"; }, 3000);
				}else{
					mui.toast(data.tip)
				}
              },
              error : function(xhr,type,errorThrown){
                  console.log(xhr);
                  console.log(type);
                  console.log(errorThrown);
              }
			});

			},
			validate:function(){
				if(this.username.length==0||this.password.length==0){
					mui.toast('用户名和密码不能为空')
					return false
				}else{
					return true
				}
			},
			toLogin:function(){
				window.location.href="login.html";
			}
		},
		mounted:function(){
			mui.toast('欢迎来到toDO网站注册页') 
		}
	})
		
		
	</script>
	
</html>
